@import url('https://fonts.googleapis.com/css?family=Hind|Roboto:500,300');

$primary-color: #3BADBF;
$secondary-color: #28747F;
$tertiary-color: #4FE7FF;
$quaternary-color: #143A40;
$quinary-color: #47D0E5;


body {
    background: $primary-color;
    font-family: 'Hind';
    
}
h1 {
    text-align:center;
    color: $quaternary-color;
}
.container {
    background: #fff;
    width: 90%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
    };
header {
        font-family: 'Hind';
        color:#fff;
        letter-spacing: .02em;
    background: linear-gradient(to bottom, $tertiary-color, $quinary-color 60%, $quaternary-color) !important;
}
input {
    padding-left: 2.5%;
    font-family: 'Hind';
    background:transparent;
    border:none;
    color: #fff;
}
input:focus {
    outline:none;
}
input::placeholder {
    color: $tertiary-color;
}
ul {
    list-style:none;
    background: #fff;
    font-family: 'Roboto';
    margin-left:auto;
    margin-right:auto;
    padding: 10px 0;
}
li {
    padding: 1.5%;
    width: 97%;
    background: #fff;
    
}

li:nth-child(odd) { 
    background: $tertiary-color;
    color:#fff;
}
.name {
    font-style: italic;
    font-weight: 500;
}
.text {
    font-weight: 300;
}